            <section class="news">
                <h2>Noticias</h2>
                {{#each news}}
                <div class="news-container">
                    <div class="news-box">
                        <img src="{{this.image}}" alt="{{this.title}}">
                        <div class="news-box-text">
                            <h3>{{this.title}}</h3>
                            <p>
                                {{this.description}}
                            </p>
                            <a href="{{this.link}}">Leer Más</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>